#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo{
  width: 100%;
  display: grid;
  margin: 0 auto;
  background-color: #3cdc5d;
  padding: 0.2rem;
  font-weight: bolder;
  font-size: 2rem;
  color:#040905;
}

.link {
  font-weight: bold;
  font-size: 18px;
  border: none;
  background-color: rgb(13, 110, 184);
  color: white;
  padding: 15px 15px;
  border-radius: 3px;
  margin: 1rem;
  max-width: 100px;
  cursor: pointer;
  display: grid;
  margin: 10% auto;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #3cdc5d);
}


